<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Product</title>
</head>
<body>
<h1>Create new Product</h1>
<form action="/admin/save/product" method="post">
    <label for="sortName">Sort name:</label>
    <select id="sortName" name="sortId">
        <option th:each="sort : ${sorts}" th:value="${sort.id}" th:text="${sort.sortName}"></option>
    </select><br><br>
    <label for="sowingName">Sowing year:</label>
    <select id="sowingName" name="sowingId">
        <option th:each="sow : ${sowings}" th:value="${sow.id}" th:text="${sow.year}"></option>
    </select><br><br>
    <label for="plantingName">Planting year:</label>
    <select id="plantingName" name="plantingId">
        <option th:each="planting : ${plantings}" th:value="${planting.id}" th:text="${planting.year}"></option>
    </select><br><br>
    <label for="harvestName">Harvest year:</label>
    <select id="harvestName" name="harvestId">
        <option th:each="harvest : ${harvests}" th:value="${harvest.id}" th:text="${harvest.date}"></option>
</select><br><br>
    <label for="priceId">Price:</label>
    <select id="priceId" name="priceId">
        <option th:each="price : ${pricings}" th:value="${price.id}" th:text="${price.pricingPrice}"></option>
</select><br><br>
    <label for="productSize">Size:</label>
    <input type="text" id="productSize" name="productSize"><br><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description"><br><br>
    <label for="inPot">In Pot:</label>
    <input type="checkbox" id="inPot" name="inPot" value="true"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>