<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new Harvest</title>
</head>
<body>
<h1>Create new Harvest</h1>
<form action="/admin/save/harvest" method="post">
  <label for="sortName">Sort name:</label>
  <select id="sortName" name="sortId">
    <option th:each="sort : ${sorts}" th:value="${sort.id}" th:text="${sort.sortName}"></option>
  </select><br><br>
  <label for="amount">Amount:</label>
  <input type="text" id="amount" name="amount"><br><br>
  <label for="date">Date:</label>
  <input type="date" id="date" name="date"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
