<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>

<h1>Admin Panel</h1>
<p><a href="/admin/producers">Producers</a></p>
<p><a href="/admin/sorts">Sorts</a></p>
<p><a href="/admin/sowings">Sowings</a></p>
<p><a href="/admin/plantings">Plantings</a></p>
<p><a href="/admin/harvests">Harvests</a></p>
<p><a href="/admin/pricings">Pricings</a></p>
<p><a href="/admin/products">Products</a></p>
<p><a href="/admin/reservations">Reservations</a></p>

</body>
</html>