<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/chartjs/2.9.4/Chart.min.js"></script>
</head>
<body>

<ul>
    <li th:each="product : ${products}">
        <a th:href="@{/product/{id}(id=${product.id})}"><span th:text="${product.getSortName()} + ' - ' + ${product.priceInfo}+ ' - ' + ${product.getProductSize()} "></span></a>
    </li>
</ul>

<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file" /><br /><br />
    <input type="submit" value="Upload" />
</form>

</body>
</html>