<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <th:block th:include="header::head" />
    <th:block th:include="header::body" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .page-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .product-container {
            text-align: center;
        }

        .product-image {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="page-wrapper">
    <div class="product-container">
        <img th:src="${product.getPictureUrl()}" alt="Product Image" class="product-image"><br>
        Sort name: <span th:text="${product.getSortName()}"></span><br>
        Size: <span th:text="${product.productSize}"></span><br>
        Year of sowing: <span th:text="${product.getSowingInfo()}"></span><br>
        Year of planting: <span th:text="${product.getPlantingInfo()}"></span><br>
        Harvested on: <span th:text="${product.getHarvestInfo()}"></span><br>
        Price: <span th:text="${product.getPriceInfo()}"></span><br>
        Description: <span th:text="${product.getDescription()}"></span><br>
        In pot: <span th:text="${product.isInPot()}"></span><br>
        <br>
        <form th:action="@{/reserve/{id}(id=${product.id})}" method="post">
            <input type="hidden" name="_method" value="post" />
            <button type="submit" class="btn btn-success">Rezerviraj</button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
