<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/reservation" method="post">
  <input type="hidden" id="productId" name="productId" th:value="${reservation.productId}">
  <label for="reservationName">Reservation name:</label>
  <input type="text" id="reservationName" name="reservationName"><br><br>
  <label for="reservationSurname">Reservation surname:</label>
  <input type="text" id="reservationSurname" name="reservationSurname"><br><br>
  <label for="phoneNumber">Phone number:</label>
  <input type="text" id="phoneNumber" name="phoneNumber"><br><br>
  <label for="info">Additional information:</label>
  <textarea id="info" name="info"></textarea><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>